{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/512a4597ae.js" crossorigin="anonymous"></script>
    <title>Books</title>
</head>
<body>
    <header>
        <div class="row">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="logo" height="75px" width="95px">
                <h3><span class="big">KeazoN</span><span class="small">BOOKS</span></h3>
            </div>
            <div class="inputs">
                <i class="fa-solid fa-magnifying-glass" style="color: #808080;"></i>
                <input type="text" placeholder="Search for the book you want and read it now... Sherlock Holmes, Harry Pot...">
            </div>
            <div class="icons">
                <i class="fa-solid fa-book-medical fa-2xl"></i>
                <i class="fa-regular fa-bell fa-2xl"></i>
                <i class="fa-regular fa-gem fa-2xl"></i>
                <img src="{% static 'images/circle.png' %}" alt="circle" height="50px" width="50px">
            </div>
        </div>
    </header>
    <div class="row">
        <ul class="unlist">
            <li>Detective</li>
            <li>Love</li>
            <li>Novel</li>
            <li>History</li>
            <li>Science fiction</li>
            <li>Fantastic</li>
            <li>More</li>
        </ul>
    </div>
    <article>
        <div class="row top">
            <div class="books">
                <img src="../../static/images/books/image_2022-10-13_09-50-08.png" alt="book">
                <div class="left-side">
                    <h1>Books Head</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit lectus enim id euismod. Gravida at praesent aliquam, at natoque at leo. Faucibus quam ipsum mi eget consectetur posuere dui vulputate magna.</p>
                    <div class="center">
                        <p>Detective-Love-History</p>
                        <button class="outline-btn"><p>Now Read!</p></button>
                    </div>
                </div>
            </div>
            <div class="books">
                <img src="../../static/images/books/image_2022-10-13_09-50-08.png" alt="book">
                <div class="left-side">
                    <h1>Books Head</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit lectus enim id euismod. Gravida at praesent aliquam, at natoque at leo. Faucibus quam ipsum mi eget consectetur posuere dui vulputate magna.</p>
                    <div class="center">
                        <p>Detective-Love-History</p>
                        <button class="outline-btn"><p>Now Read!</p></button>
                    </div>
                </div>
            </div>
            <div class="books">
                <img src="../../static/images/books/image_2022-10-13_09-50-08.png" alt="book">
                <div class="left-side">
                    <h1>Books Head</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa elit lectus enim id euismod. Gravida at praesent aliquam, at natoque at leo. Faucibus quam ipsum mi eget consectetur posuere dui vulputate magna.</p>
                    <div class="center">
                        <p>Detective-Love-History</p>
                        <button class="outline-btn"><p>Now Read!</p></button>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="all-books row">
        {% for i in data %}
            <img src="http://127.0.0.1:8000/images/{{i.image}}" alt="asdf">
        {% endfor %}
    </div>
</body>
</html>