body {
    background-color: #242121;
    color: white;
    padding: 0;
    margin: 0;
}

header {
    background-color: #302c2c;
    color: white;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;

}

.big {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
}

.small {
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 23px;
}

.inputs {
    display: flex;
    align-items: center;
    width: 678px;
    height: 33px;
    color: #808080;
    background-color: #373737;
    border-radius: 4px;
}

.inputs i {
    transform: translateX(10px);
    
}

input {
    list-style: none;
    color: white;
    width: 640px;
    height: 28px;
    padding: 0;
    margin: 0;
    border: 0;
    transform: translateX(20px);
    background-color: #373737;
}

input:focus{
    outline: none;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
}

.unlist {
    width: 800px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.top {
    margin-top: 60px;
}

.books img {
    margin-right: 40px;
    scale: 1.1;
    transform: rotate(-3.5deg);
}

.books {
    display: flex;
    background-color: rgba(113, 197, 244, 0.38);;
    width: 30%;
    height: 272px;
    border-radius: 5px;
}

/* .books .left-side {
    text-align: center;
} */

.center {
    text-align: center;
}

.left-side p {
    width: 237px;
}

.left-side h1 {
    font-style: normal;
    margin: 0;
    margin-top: 30px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.left-side p {
    justify-content: center;
    color: #D2D2D2;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
}

.outline-btn {
    background-color: transparent;
    color: white;
    border-color: white;
    width: 178px;
    font-size: 17px;
    line-height: 20px;
    padding: 8px 30px;
}

.outline-btn p {
    display: inline;
    padding: 0;
    margin: 0;
}

.all-books {
    display: inline-block;
}

.all-books img {
    scale: 0.6;
}